html{
  font-family: circular std, sans-serif;
}
.clearfix{
  content:"";
  clear: both;
  display: table;
}
a{
  text-decoration: none;
  color: inherit;
}

body{
  width: 60%;
  margin: auto;
  background-image: url('./assets//BG.png');
}
.blue{
  color: #027BFF;
}
h1{
  font-size: 40px;
  font-weight: 400;
  color: #17191A;
}
h2{
  font-size: 35px;
  font-weight: 400;
  color: #17191A;
}
h3{
  font-size: 16px;
  font-weight: 400;
  color: #BDBDBD;
  text-align: center;
}
h5{
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  color: #17191A;
}
p{
  color: #8F9EA5;
  opacity: 0.8;
  font-weight: 400;
  margin-top: 10px;
  font-size: 20px;
}

.nav{
  display: flex;
  align-items: center;
  height: 100px;
}
.nav-contact, .nav-icons{
  flex:1;
}
.nav-icons{
  text-align: right;
}
.nav-icons a, .nav-contact a, .nav-contact img{
  display: inline-block;
  vertical-align: middle;
}
.nav-icons img{
  width: 60%;
}
.nav-contact a{
  color: #027BFF;
  text-decoration: none;
}
.about{
  height: 100vh;
  position: relative;

}
.about-wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.about-l{
  max-width: 50%;
}
.about-description{
  margin-top: 40px;
  font-size: 1.25rem;

}

.about-R img{
  width: 80%;
  display: block;
  margin-left: auto;
}
.scroll{
  position: absolute;
  bottom: 180px;
  left: 0;
  right: 0;
  margin: auto;
}
.skills{
text-align: center;
margin-bottom: 20em;
}
.skill-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}
.skill-wrap img{
  width: 70%;
  max-width: 150px;
}
.skills p{
  margin-bottom: 60px;
}
.box img{
  display: block;
  margin: 0 auto;
}
.work h2{
  text-align: center;
}
#contact{
  margin-bottom: 10em;
}
#contact h2, #contact p{
  text-align: center;
}
.contact-form{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content max-content;
  grid-gap: 1em;
}
input, textarea{
  padding: 1em;
  resize: none;
  border: none;
  background-color: #F5F5F5;
  font-size: 16px;
}
textarea{
  height: 100px;
  color: #757575;
}

.contact-form button{
  border: none;
  background-color: #027BFF;
  color: white;
  font-size: 24px;
  font-weight: 500;
  max-width: 50%;
  min-width: 50%;
  margin: 1em auto;
}
.send{
vertical-align: middle;
width: 24px;
margin-bottom: 3px;
margin-left: 8px;
padding: 20px 0;
}

.work{
  width: 100%;
  position: relative;
  margin-bottom: 20em;
}
.work > .workText{

}

.work > .workText > .underline{
  display: block;
  background-color: #027BFF;
  height: 3px;
  width: 61px;
  margin-top: 5px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #027BFF;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.work-img:hover .overlay {
  opacity: .9;
}
.work > .work-img > .work-img-img, .work2 > .work-img > .work-img-img{
  width: 100%;
  display: block;
}
.work > .work-img{
  width: 85%;
  float: right;
  position: relative;
  box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.3);
}
.work2 > .work-img{
  width: 85%;
  float: left;
  position: relative;
  box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.3);
}
.work > h5{
  padding: 0;
}
.work > ul > li >a, .work2 > ul > li > a{
  text-decoration: none;
  color: #8f9ea5;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.work2 > ul > li > a > p{
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-left: 8px;
  font-weight: 500;
}
.work > ul > li > a > p{
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-right: 8px;
  font-weight: 500;
}
.work ul{
  position: absolute;
  bottom: 0;
  right: 86%;
  list-style: none;
}
.work ul li{
  margin-top: 20px;
}
.work-link{
  height: 30px;
}
.work2 {
  width: 100%;
  position: relative;
  margin-bottom: 20em;
}
.work2 > .workText{
  right: 0;
  text-align: right;
}
.work2 > .workText .underline{
  display: block;
  background-color: #027BFF;
  height: 3px;
  width: 61px;
  margin-top: 5px;
  float: right;
}
.work2 > .work-img{
  width: 85%;
float: left;
  box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.3);
}
.work2 ul{
  position: absolute;
  bottom: 0px;
  left: 86%;
  list-style: none;
  padding-left: 0;
}
.work2 ul li{
  margin-top: 20px;
}
.work-link{
  height: 30px;
}
.footer{
  width: max-content;
  margin: 0 auto;
}
.footer p{
  text-align: center;
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;

}
.footer img{
  vertical-align: middle;
  height: 16px;
  margin-right: 10px;
  padding-bottom: 2px;
}